In [2]:
import pandas as pd
import numpy as np
# data = pd.read_csv('')  read file of data
# data.info()  print some information about my data

# pandas is not the best extension to save data becuase it takes too lagre place in the memory
# parquet is the best then pickle (pickle saves data as binary it can save data or ai model or deep model

# to print max value in certain column
# data.temprutre.max()
data = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}) # dataframe simliar to 2D array
print(data)
print('------------------------------------------------------------------------------------------------------------')

print(data.info())
print('------------------------------------------------------------------------------------------------------------')

print(data.X.max())
print('------------------------------------------------------------------------------------------------------------')

print(data.columns) # print columns names
print('------------------------------------------------------------------------------------------------------------')

data.loc[0][0] # print seleted elemet
print('------------------------------------------------------------------------------------------------------------')

print('First Way to print selected Column')
print(data.Y) # print selected column (diffrence if column name has a space this way will cause an error)
print('------------------------------------------------------------------------------------------------------------')

print('second Way to print selected Column')
print(data['Y'])
print('------------------------------------------------------------------------------------------------------------')

print(data.head()) #print first 5 elements
print('------------------------------------------------------------------------------------------------------------')

print(data.head(2)) #print first 2 elements
print('------------------------------------------------------------------------------------------------------------')

print(data.tail(2)) #print last 5 elements
print('------------------------------------------------------------------------------------------------------------')

print(data['Z'][2])
print('------------------------------------------------------------------------------------------------------------')

print(data[data.Z > 80].Z) # print all values over 80
print('------------------------------------------------------------------------------------------------------------')
#############################################################################################################################################
#############################################################################################################################################

# read online data
onlinedata = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")
print(onlinedata)

print('------------------------------------------------------------------------------------------------------------')
#############################################################################################################################################
#############################################################################################################################################

# i can convert map to dataframe
weather_data = {
    'day' : ['1/1/2107','1/2/2107','1/3/2107','1/4/2107','1/5/2107','1/6/2107'],
    'temperature' : [32,35,28,24,32,31],
    'windspeed' : [6,7,2,7,4,2],
    'evvent' : ['Rain','Sunny','Snow','Snow','Sunny','Sunny']
}
df = pd.DataFrame(weather_data)
print(df)
print('------------------------------------------------------------------------------------------------------------')

print(df['temperature'].mean())
print('------------------------------------------------------------------------------------------------------------')

print(df['temperature'].std())
print('------------------------------------------------------------------------------------------------------------')

print(df['day'][df['temperature'] == df['temperature'].min()]) # get day with minimum temperature
print('------------------------------------------------------------------------------------------------------------')

df.set_index('day',inplace=True) # change index 
print(df)
print('------------------------------------------------------------------------------------------------------------')

df['NewData'] = np.arange(1,7)# add new column
print(df)
print('------------------------------------------------------------------------------------------------------------')

df.drop('NewData' , inplace=True , axis = 1) # reomve column , (axis 1 column , axis 0 row)
print(df)
print('------------------------------------------------------------------------------------------------------------')

#############################################################################################################################################
#############################################################################################################################################

#read from excel

data_frame = pd.read_excel('/kaggle/input/d/abdelrhmannashaat/pracrice-pandas/data.xlsx') 
print(data_frame)
print('------------------------------------------------------------------------------------------------------------')

data_frame.drop('Unnamed: 0', axis=1)
# write on excel 
# with pd.ExcelWriter('excel name') as writer : 
# df.to_excel(writer,sheet_name  = '')

#############################################################################################################################################
#############################################################################################################################################

# handlling missing data
new_data = pd.read_csv('/kaggle/input/d/abdelrhmannashaat/pracrice-pandas/weather_data.csv') 
print(new_data)
print('------------------------------------------------------------------------------------------------------------')

new_data1 = new_data.fillna(0)
print(new_data1)
print('------------------------------------------------------------------------------------------------------------')

new_data2 = new_data.fillna(method='ffill') # fill nan with previous value
print(new_data2)
print('------------------------------------------------------------------------------------------------------------')

new_data3 = new_data.fillna(method='bfill') # fill nan with next value
print(new_data3)
print('------------------------------------------------------------------------------------------------------------')

new_data4 = new_data.interpolate() # make pandas excpect missing values
print(new_data4)
print('------------------------------------------------------------------------------------------------------------') 

#############################################################################################################################################
#############################################################################################################################################
# group by

data1 = pd.read_csv('/kaggle/input/d/abdelrhmannashaat/pracrice-pandas/weather_by_cities.csv') 
print(data1)
print('------------------------------------------------------------------------------------------------------------')

groups = data1.groupby("city")
print(groups)
print('------------------------------------------------------------------------------------------------------------')

print(groups.describe())

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83
------------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       5 non-null      int64
 1   Y       5 non-null      int64
 2   Z       5 non-null      int64
dtypes: int64(3)
memory usage: 248.0 bytes
None
------------------------------------------------------------------------------------------------------------
96
------------------------------------------------------------------------------------------------------------
Index(['X', 'Y', 'Z'], dtype='object')
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
First Way to print selected Column
0    84
1    94
2    89
3    83
4    86
Name: Y, dtype: int64
------------------------------------------------------------------------------------------------------------
second Way to print selected Column
0    84
1    94
2    89
3    83
4    86
Name: Y, dtype: int64
------------------------------------------------------------------------------------------------------------
    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83
------------------------------------------------------------------------------------------------------------
    X   Y   Z
0  78  84  86
1  85  94  97
------------------------------------------------------------------------------------------------------------
    X   Y   Z
3  80  83  72
4  86  86  83
------------------------------------------------------------------------------------------------------------
96
------------------------------------------------------------------------------------------------------------
0    86
1    97
2    96
4    83
Name: Z, dtype: int64
------------------------------------------------------------------------------------------------------------
       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]
------------------------------------------------------------------------------------------------------------
        day  temperature  windspeed evvent
0  1/1/2107           32          6   Rain
1  1/2/2107           35          7  Sunny
2  1/3/2107           28          2   Snow
3  1/4/2107           24          7   Snow
4  1/5/2107           32          4  Sunny
5  1/6/2107           31          2  Sunny
------------------------------------------------------------------------------------------------------------
30.333333333333332
------------------------------------------------------------------------------------------------------------
3.8297084310253524
------------------------------------------------------------------------------------------------------------
3    1/4/2107
Name: day, dtype: object
------------------------------------------------------------------------------------------------------------
          temperature  windspeed evvent
day
1/1/2107           32          6   Rain
1/2/2107           35          7  Sunny
1/3/2107           28          2   Snow
1/4/2107           24          7   Snow
1/5/2107           32          4  Sunny
1/6/2107           31          2  Sunny
------------------------------------------------------------------------------------------------------------
          temperature  windspeed evvent  NewData
day
1/1/2107           32          6   Rain        1
1/2/2107           35          7  Sunny        2
1/3/2107           28          2   Snow        3
1/4/2107           24          7   Snow        4
1/5/2107           32          4  Sunny        5
1/6/2107           31          2  Sunny        6
------------------------------------------------------------------------------------------------------------
          temperature  windspeed evvent
day
1/1/2107           32          6   Rain
1/2/2107           35          7  Sunny
1/3/2107           28          2   Snow
1/4/2107           24          7   Snow
1/5/2107           32          4  Sunny
1/6/2107           31          2  Sunny
------------------------------------------------------------------------------------------------------------
   Unnamed: 0 tickers    eps  revenue   price              people
0           0   GOOGL  27.82       87   845.0          larry page
1           1     WMT   4.61      484    65.0  data not available
2           2    MSFT  -1.00       85    64.0          bill gates
3           3    RIL   18.36       50  1023.0       mukesh ambani
4           4    TATA   5.60       -1    14.8          ratan tata
------------------------------------------------------------------------------------------------------------
         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny
------------------------------------------------------------------------------------------------------------
         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          0.0        9.0   Sunny
2   1/5/2017         28.0        0.0    Snow
3   1/6/2017          0.0        7.0       0
4   1/7/2017         32.0        0.0    Rain
5   1/8/2017          0.0        0.0   Sunny
6   1/9/2017          0.0        0.0       0
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny
------------------------------------------------------------------------------------------------------------
         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         32.0        9.0   Sunny
2   1/5/2017         28.0        9.0    Snow
3   1/6/2017         28.0        7.0    Snow
4   1/7/2017         32.0        7.0    Rain
5   1/8/2017         32.0        7.0   Sunny
6   1/9/2017         32.0        7.0   Sunny
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny
------------------------------------------------------------------------------------------------------------
         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         28.0        9.0   Sunny
2   1/5/2017         28.0        7.0    Snow
3   1/6/2017         32.0        7.0    Rain
4   1/7/2017         32.0        8.0    Rain
5   1/8/2017         34.0        8.0   Sunny
6   1/9/2017         34.0        8.0  Cloudy
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny
------------------------------------------------------------------------------------------------------------
         day  temperature  windspeed   event
0   1/1/2017    32.000000       6.00    Rain
1   1/4/2017    30.000000       9.00   Sunny
2   1/5/2017    28.000000       8.00    Snow
3   1/6/2017    30.000000       7.00     NaN
4   1/7/2017    32.000000       7.25    Rain
5   1/8/2017    32.666667       7.50   Sunny
6   1/9/2017    33.333333       7.75     NaN
7  1/10/2017    34.000000       8.00  Cloudy
8  1/11/2017    40.000000      12.00   Sunny
------------------------------------------------------------------------------------------------------------
         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy
------------------------------------------------------------------------------------------------------------
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7d8d10a86410>
------------------------------------------------------------------------------------------------------------
         temperature                                                   \
               count   mean       std   min    25%   50%    75%   max
city
mumbai           4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
new york         4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0
paris            4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0

         windspeed
             count   mean       std  min   25%   50%    75%   max
city
mumbai         4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
new york       4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0
paris          4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0
/kaggle/input/d/abdelrhmannashaat/pracrice-pandas/newdf.csv
/kaggle/input/d/abdelrhmannashaat/pracrice-pandas/data.xlsx
/kaggle/input/d/abdelrhmannashaat/pracrice-pandas/weather_data.csv
/kaggle/input/d/abdelrhmannashaat/pracrice-pandas/weather_by_cities.csv
       True      city  temperature  humidity
india     0    mumbai           32        80
india     1     delhi           45        60
india     2  banglore           30        78
us        0  new york           21        68
us        1   chicago           14        65
us        2   orlando           35        75
------------------------------------------------------------------------------------------------------------